.card {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 180px 143px;
  @media (min-width: $tablet-width) {
    grid-template-columns: 300px;
    grid-template-rows: 300px 155px;
  }
  @media (min-width: $desktop-width) {
    grid-template-rows: 400px 155px;
  }
}

.card__textbox {
  background-color: #f2f2f2;
  color: #000000;
  padding: 20px 15px;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    padding: 23px 30px;
    line-height: 22px;
  }
  @media (min-width: $desktop-width) {
    padding: 27px 31px 24px 26px;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  width: 280px;
  height: 180px;
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }
  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.card__release {
  display: flex;
  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }
}
.card__author {
  font-weight: 700;
  display: block;
  margin-right: 3px;
}
.card__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.card__text {
  @include paragraph-null;
  @media (min-width: $desktop-width) {
    line-height: 24px;
  }
}

.card__response {
  padding-left: 31px;
  position: relative;
  @media (min-width: $tablet-width) {
    padding-left: 0px;
    padding-right: 31px;
  }
}

.card__response::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/heart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: calc(50% - 6px);
  @media (min-width: $tablet-width) {
    right: 0;
    left: auto;
  }
}

.card__like {
  @include paragraph-null;
  color: #d22856;
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
}
.card__like-counter {
  display: block;
  padding-left: 5px;
}
