.post {
  background-color: #f2f2f2;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.post__appeal {
  @include paragraph-null;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 50px;
  background-color: #ffffff;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 100%;
    padding-bottom: 69px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.post__box {
  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 56px 0px;
  }
  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 60px;
    padding-left: 80px;
    padding-top: 65px;
    background-color: #f2f2f2;
  }
}

.post__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.post__photo {
  display: block;
  object-fit: cover;
  width: 280px;
  height: 374px;
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
  @media (min-width: $desktop-width) {
    margin-top: -10px;
  }
}

.post__options {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    align-self: stretch;
    justify-content: space-between;
  }
}

.post__part {
  padding: 0;
  border: none;
  @media (min-width: $tablet-width) {
    margin: 0;
    padding-right: 15px;
  }
}

.post__settings {
  padding: 42px 0 75px;
  display: flex;
  justify-content: space-around;
  width: 240px;
  margin: 0 auto;
  position: relative;
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 2px 20px 7px 5px;
    width: 100%;
    flex-direction: column;
  }
  @media (min-width: $desktop-width) {
  }
}

.post__set {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  & path,
  & g {
    fill: #283645;
    opacity: 0.3;
  }
  &:hover {
    & path,
    & g {
      opacity: 0.6;
    }
  }
  &:active {
    & path,
    & g {
      fill: #d22856;
      opacity: 1;
    }
  }
  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: rgba(40, 54, 69, 0.1) solid 1px;
    margin-bottom: 24px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
    padding-right: 38px;
  }
}

.post__icon {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
    margin-right: 48px;
  }
}

.post__set--fill .post__icon {
  @media (min-width: $desktop-width) {
    width: 47px;
    height: 44px;
  }
}

.post__set--contrast .post__icon {
  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
    margin-left: 6px;
  }
}

.post__set--active path,
.post__set--active g {
  fill: #d22856;
  opacity: 1;
}

.post__set > input {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.post__set--active > input {
  display: block;
}

input[type="range"] {
  appearance: none;
  position: absolute;
  width: 240px;
  right: 0;
  bottom: 35px;
  @media (min-width: $tablet-width) {
    position: static;
    width: 200px;
  }
  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #d22856;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #283645;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #283645;
}

.post__buttons {
  border-top: 1px solid rgba(40, 54, 69, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 38px;
    border-top: none;
  }
  @media (min-width: $desktop-width) {
    padding-top: 0px;
  }
}

.post__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media (min-width: $tablet-width) {
    width: 260px;
  }
  @media (min-width: $desktop-width) {
    width: 410px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.post__button {
  background-color: transparent;

  border-radius: 30px;
  border-width: 3px;
  @media (min-width: $tablet-width) {
    padding: 10px 18px;
  }
  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.post__post {
  color: #d22856;
  border-color: #d22856;
  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }
  &:active {
    background-color: #d22856;
    color: rgba(255, 255, 255, 0.3);
  }
}

.post__reset {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
  &:hover {
    opacity: 0.3;
  }
  &:active {
    background-color: #283645;
    color: #ffffff;
    opacity: 0.3;
  }
}
