.emotions {
  padding-top: 75px;
  @media (min-width: $tablet-width) {
    width: 620px;
    align-self: center;
    padding-top: 45px;
    padding-bottom: 55px;
    margin-bottom: 0px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/-1;
    grid-row: 4/5;
    padding-top: 40px;
    padding-bottom: 45px;
  }
}

.emotions__areaname {
  align-self: center;
  width: 280px;
}

.emotions__box {
  @media (min-width: $tablet-width) {
    // padding: 54px 60px;
  }
}

.emotions__wrapper {
  display: flex;
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}
.emotions__text {
  margin: 0;
  height: 197px;
  padding: 22px;
  flex-grow: 1;
  @media (min-width: $tablet-width) {
    height: 189px;
    padding-top: 12px;
    padding-left: 20px;
  }
  @media (min-width: $desktop-width) {
    height: 130px;
    padding-top: 15px;
  }
}
