.formcontact {
  order: 3;
  @media (min-width: $tablet-width) {
    width: 620px;
    align-self: center;
    padding-top: 44px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-top: 40px;
    padding-bottom: 12px;
  }
}

.formcontact__areaname {
  align-self: center;
  width: 280px;
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    width: auto;
  }
}

.formcontact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
    column-gap: 70px;
  }
}

.formcontact__label {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  @media (min-width: $desktop-width) {
    flex-grow: 0;
    padding: 0;
    width: 375px;
  }
}

.formcontact__field {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px;
    padding-right: 59px;
    line-height: 100%;

    &--phone {
      background-image: url(../img/phone-icon.svg),
        url(../img/graysquare-tablet.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: right 20px center, right;
      background-size: 20px 20px, 59px 59px;
    }
    &--mail {
      background-image: url(../img/mail-icon.svg),
        url(../img/graysquare-tablet.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: right 20px center, right;
      background-size: 20px 20px, 59px 59px;
    }
  }
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 25px;
  }
}

.formcontact__labelname {
  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
  @media (min-width: $desktop-width) {
  }
}
