.service {
  order: 6;
  border: none;
  @media (min-width: $tablet-width) {
    padding-top: 65px;
    margin-bottom: 18px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1/-1;
    grid-row: 5/6;
    margin-top: -55px;
  }
}

.service__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__button {
  background-color: #2aab6d;
  color: #ffffff;
  margin-bottom: 45px;
  border-color: #2aab6d;
  border-radius: 5px;
  text-transform: uppercase;
  border-width: 2px;
  &:hover {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }
  &:active {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }
  &:disabled {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: rgba(255, 255, 255, 1);
  }
  @media (min-width: $tablet-width) {
    width: 298px;
    margin-bottom: 0;
  }
  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding: 18px 14px 20px 14px;
  }
}

.form__note {
  @include paragraph-null;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.form__note--minus {
  display: none;
  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
.form__star {
  color: #d22856;
}
